@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

html,
body {
  background: none;
  margin: 0px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: "Ubuntu Mono", monospace;
  /* overflow: hidden; */
}
h1 {
  font-family: "Ubuntu Mono", monospace;
}

#video-grid {
  z-index: +1000;
  display: grid;
  column-gap: 5px;
  max-height: 500px;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 150px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copyright {
  position: fixed;
  bottom: 0;
  font-weight: 500;
  text-align: center;
}

.centerDiv {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.three-div-orbit-control{
  min-height: 100vh;
  top:0px;
  z-index: -1;
  
}
.threeDiv {
  position: fixed;
  z-index: -1;
  top:0px;
  margin: 0px;
  padding: 0px;
}

.bcgCanvasDiv {
  position: fixed;
  z-index: -1000;
  background: none;
  left: 0px;
  top: 0px;
  margin-bottom: 10px;
}
.btn {
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "Ubuntu Mono", monospace;
  width: 100px;
  padding: 8px;
  border-radius: 30px;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  outline: none;
  text-decoration: none;
  filter: invert(1);
}

.btn:hover {
  filter: invert(0);
}
